<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/index.css">
 <body> 
    <h1>post details</h1>
     <h3> Post id:<%= post.id %></h3>
     <div class="post">
      Username:  <%=post.username%> <br> <br>
      Content:  <%=post.content%>
     </div>
</body>
</html>
