h1{
    color:rgb(188, 40, 40);
}

div{
    background-color: blanchedalmond;
}

.new-post{
    color: green;
    border: none;
    border-radius: 7px;
}
.new-post:hover{
    opacity: 0.8;

}
a{
    margin-right: 15px;
}

.new-post{
    font-size: 18px;
}

.dlt-btn{
    margin-top: 3px;
}
